.explore-page {
  margin-top: rem(40px);
  .title {
    font-size: rem(56px);
    max-width: 820px;
    margin: 100px auto 200px;
    line-height: 1.2em;
    padding-bottom: 50px;
    border-bottom: 1px solid #dddada;
  }
}