.template-page {
  text-align: center;
  .title {
    width: fit-content;
    font-size: 3.5rem;
    margin: 50px auto 20px;
  }
  .sub-title{
    font-size: 2rem;
    margin: 0 auto 50px;
    border-bottom: 1px solid #e0e3e5;
    max-width: 1000px;
  }
}