@font-face {
    font-family: Lato;
    src: url(~@/assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: AlegreyaSans;
    src: url(~@/assets/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(~@/assets/fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(~@/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(~@/assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(~@/assets/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: WorkSansExtraLight;
    src: url(~@/assets/fonts/WorkSans/WorkSans-ExtraLight.ttf);
}
@font-face {
    font-family: WorkSansSemiBold;
    src: url(~@/assets/fonts/WorkSans/WorkSans-SemiBold.ttf);
}