//MAX_WIDTH
$max-width: 1500px;

//BUSON THEME COLOR PALETTE
$clr1: #f6f9fe;
$clr2:#191d34;
$clr3: #002d5b;
$clr4: #ff656a;
//ICY THEME COLOR PALETTE
$clr5: #fff;
$clr6:#D1E0EB;
$clr7: #0C3C60;
$clr8: #6FB9CB;
$clr9: #F7F9FA;
$clr10: #39729b;
//PET THEME COLOR PALETTE
$clr11: #FEF7ED;
$clr12: #3A54B4;
$clr13: #ffffff;

//DARK THEME COLOR PALETTE
// $clr5: #21e6c1;
// $clr6: #112537;
// $clr7: #e4f0fb;

//MAIN COLORS
$main-clr1: #4eb7f5;
$main-clr2: #20303c;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 1000px;
$break-wide: 1100px;

//THEMES BREAKPOINTS
//BUSON THEME
$buson-break-narrow: 860px;
$buson-break-normal: 940px;
$buson-break-wide: 1180px;
