.edit-text {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;

  #vs1__combobox,
  #vs2__combobox {
    width: 160px;
    &:hover {
      cursor: pointer;
    }
  }

  .color-picker {
    > * {
      margin-bottom: 10px;
      text-align: left;
      padding: 10px 0;
      border: 1px solid #e0e3e5;
    }
  }
  .el-input, .el-input--small {
    text-align: center;
    .el-input__inner {
      margin: 0;
    }
  }
}
