.main-nav {
  background-color: #fff;
  border-bottom: 1px solid #eff1f2;
  box-shadow: 0 2px 5px 0 rgba(32, 48, 60, 0.05);
  z-index: 100;
  font-size: 1rem;
  .logo {
    margin: 0;
    padding: 20px 20px;
    font-family: Lobster;
    font-size: 3.5rem;
  }
  // position: relative;

  // ul {
  //   margin: 0;
  // }
  .links {
    font-weight: bold;
    // display: flex;
    // align-items: center;
    & > *:not(:first-child) {
      padding: 25px;
      border-top: 5px solid transparent;
    }
  }
  // a:hover:not(:first-child) {
  //   color: $clr3;
  //   border-top-color: $clr3;
  // }

  // :last-child {
  //   padding-right: 20px;
  // }
}
