.wap-container {
  background-color: #fff;
  margin: 10px ;
  // width: 77.256rem;
  width:100%;
  // height: calc(100vh - 90px);      
  overflow-y: scroll;
  overflow-x: hidden;
  
  @include for-narrow-layout {
    width: $break-narrow;
  }
  @include for-normal-layout {
    width: $break-normal;
  }
  @include for-wide-layout {
    width: $break-wide;
  }
  & > *:hover .actions-panel {
    visibility: visible;
  
    opacity: .7;
    transition: all .3s;
    background: rgba(69, 159, 237, 0.3);
  }
}

.wap-container.dark-theme {
  background-color: $clr6;
}
