.main-layout {
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: auto 1fr;

  min-height: 100vh;

  > * {
    grid-column: 2;
  }

  // @include for-narrow-layout {
  //     grid-template-columns: minmax(0.6rem, auto) minmax(auto, $break-narrow) minmax(0.6rem, auto);
  // }
  // @include for-normal-layout {
  //     grid-template-columns: minmax(0.6rem, auto) minmax(auto, $break-normal) minmax(0.6rem, auto);
  // }
  // @include for-wide-layout {
  //     grid-template-columns: minmax(0.6rem, auto) minmax(auto, $break-wide) minmax(0.6rem, auto);
  // }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

@media only screen and (max-width: 1240px) {
  .main-layout {
    grid-template-columns: minmax(0.6rem, auto) auto minmax(0.6rem, auto);
  }
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
  }
}
